body {
    margin: 30px;
}

h1 {
    text-align: center;
}

.wj-flexgrid {
    height: 400px;
}

.wj-flexchart {
    height: 400px;
}

.grid-layout {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-areas: 
        'one two';
    padding-block: 2rem;
    width: 95%;
    margin-inline: auto;
}

.grid-layout:nth-child(1) {
    grid-area: one;
    width: 100%;
}

.grid-layout:nth-child(2) {
    grid-area: two;
    width: 100%;
}

.btn {
    width: 100%;
    background-color: rgb(22, 186, 208);
    color: black;
    border: 1px solid black;
}

.btn:hover, .btn:focus {
    background-color: rgb(18, 153, 171);
    color: white;
    border: 1px solid white;
}