body {
    margin: 30px;
}

h1 {
    text-align: center;
}

.wj-flexgrid {
    height: 400px;
}

.wj-flexchart {
    height: 400px;
}

.grid-layout {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;     
    grid-template-areas: 
      "grid grid messenger"
      "chart chart messenger"
      ". . ."; 
}

.grid-flexgrid {
    grid-area: grid;
    width: 100%;
}

.grid-flexchart {
    grid-area: chart;
    width: 100%;
}

.grid-messenger{
    grid-area: messenger;
}

#theMessenger{
   
    height: 844px;
    border: 1px solid #e4e4e4;
}